// Place all the styles related to the ovens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .prepare-btn {
    order: 1;
  }
  .cookie-info {
    order: 2;
  }
}
